<html>
    <head>
        <script src="http://libs.cdnjs.net/angular.js/1.0.7/angular.js"></script>
    </head>
    <body ng-app >
        <div ng-controller="HelloCtrl">
        say hello to: <input type="text" ng-model="name">
        <h1>Hello, {{name}}</h1>
        </div>
        <ul ng-controller="WorldCtrl">
            <li ng-repeat="country in countries">
                {{ country.name }} has population of {{country.population}}
            </li>
            <hr>
            World's population: {{population}} millions
        </ul>

    </body>
    <script>
        var  HelloCtrl = function($scope){
            $scope.name=  'World';
        }
        var WorldCtrl = function($scope){
            $scope.population = 7000;
            $scope.countries = [
                {name: 'france', population: 64.1},
                {name: 'united kindom', population: 54.1},
            ];
        }
    </script>

</html>